@media screen and (orientation:portrait) and (max-width: 992px) {

    .cardlogin{
        position: fixed;
        top:25%;
        left:0;
        width:100%;
        height: 60%;
    }

 }

 @media screen and (orientation:portrait) and (max-width: 321px) {

    .cardlogin{
        position: fixed;
        top:8%;
        left:0;
        width:100%;
        height: 60%;
    }

 }

  @media screen and (orientation:landscape) and (max-width: 481px) {

    .cardlogin{
        position: fixed;
        bottom: 8%;
        left:0;
        width:100%;
        height: 60%;
    }

 }

 @media screen and (orientation:landscape) and ( min-width: 993px){

    .cardlogin{
        position: fixed;
        top:15%;
        left:0;
        width:100%;
        height: 60%;
    }

 }


 @media screen and (orientation:landscape) and ( max-width: 992px) {

    .cardlogin{
        position: fixed;
        top:0%;
        left:0;
        width:100%;
        height: 60%;
    }

 }

  @media screen and (orientation:portrait) and ( min-width: 993px) {

    .cardlogin{
        position: fixed;
        top:30%;
        left:0;
        width:100%;
        height: 60%;
    }

 }




.cardlogincard{
    height: 350px;
}

.imagelogo{
    width: 150px;
}

.fondo {
    position: absolute;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:1;
  }


@media screen and (orientation:portrait) {

    .fondo {
        background-image: url("../images/wall4.png");
        height: 100%;
        width: 100%;
      }

 }
 @media screen and (orientation:landscape) {

    .fondo {
        background-image: url("../images/wall2.jpg");
        height: 100%;
        width: 100%;
      }

  }
